<style>
    h1 {color: red;}
</style>
<h1>홈 페이지</h1>
<br>
<form action="/process-contact" method="POST">
  <label for="name">name:</label><br>
  <input type="text" id="name" name="name" value="이름"><br>
  <label for="email">email:</label><br>
  <input type="text" id="email" name="email" value="abc@abc.com"><br><br>
  <input type="submit" value="Submit">
</form>
{{> weather}}